h1 {
  font-size: 26px;
  color: red;
}

h2 {
  font-size: 26px;
  color: red;
}

h3 {
  font-size: 26px;
  color: #0000dd;
}

h4 {
  font-size: 20px;
  color: #0000dd;
}

h5 {
  font-size: 20px;
  color: #dd22d5;
}

h6 {
  font-size: 20px;
  color: #dd22d5;
}

* {
  padding: 0;
  margin: 0;
}
