@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體", serif;
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#app > a#btn {
  color: #000;
  font-size: 50px;
}

#app > a#btn.changeColor {
  color: #00d;
}

#app > a#btn:hover {
  color: #d00;
}
