header {
  width: 100%;
  height: 200px;
  background-color: #618d8a;
  text-align: center;
  color: #fff;
  line-height: 200px;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100px;
    line-height: 100px;
  }
}

nav {
  width: 100%;
  height: 50px;
  background-color: #ebca88;
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

nav > a {
  display: block;
  width: 25%;
  height: 50px;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 1024px) {
  nav > a {
    width: 50%;
    height: 100px;
    line-height: 100px;
  }
}

@media screen and (max-width: 414px) {
  nav > a {
    width: 50%;
    height: 50px;
    line-height: 50px;
  }
}

aside {
  width: 30%;
  height: 500px;
  float: left;
  background-color: #9eaf8c;
  text-align: center;
  color: #fff;
  line-height: 500px;
}

@media screen and (max-width: 1024px) {
  aside {
    float: right;
  }
}

@media screen and (max-width: 414px) {
  aside {
    float: right;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
}

article {
  width: 70%;
  height: 500px;
  float: right;
  background-color: #eca378;
  text-align: center;
  color: #fff;
  line-height: 500px;
}

@media screen and (max-width: 1024px) {
  article {
    float: left;
  }
}

@media screen and (max-width: 414px) {
  article {
    float: left;
    width: 100%;
    height: 300px;
    line-height: 300px;
  }
}

footer {
  clear: both;
  width: 100%;
  height: 100px;
  background-color: #e46d69;
  text-align: center;
  color: #fff;
  line-height: 100px;
}

@media screen and (max-width: 1024px) {
  footer {
    height: 50px;
    line-height: 50px;
  }
}
